################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LC Localization Controls.csproj
/obj/Debug/net6.0-windows7.0
